html {
  height: 100vh;
}
body {
  background-color: #f3f3f3;

}
a {
  color: #00B7FF;
}

body {
  font-family:"Helvetica Neue",Helvetica,Arial !IMPORTANT;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.cover-container {
  position: absolute;
  top: 180px;

}

.image-logo{
  height: 64px;
}

nav .nav-wrapper {
  background-color: transparent !important;
  z-index: 9999;
}

i {
  cursor: pointer;
}

.bgF {
  background-color: #ff3000 !important;
}
.card.small .card-action, .card.medium .card-action, .card.large .card-action {
  max-height: 70px !important;
  position: inherit !important;
  display: flex;
  align-content: center;
}
.modal h4 {
  margin-top: 35px !important;
}
.modal-actions {
  width: 237px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
/*.card {
  height: auto;
}
.card .card-content {
  height: auto;
}
.card .card-action {
  position: relative;
}*/